:root {
    --main-bg-color: #ffa600e7;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border:none;
    width: 94px;
    height: 2px;
    background-color: var(--main-bg-color);
    align-items: center;
}

.tieude{
    font-weight: 350;
    font-size: 54px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 28px;
}

.content{
    max-width: 70%;
}

.part4-body{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.part4-img-body{
    padding-left: 290px;
    margin-top: 15px;
    margin-right: 103px;
}

.part4-img-body img{
   width: 198px;
}

.part4-info{
    width: 30%;
}

.part4-guide{
    display: flex;
    margin: 20px 0;
    font-size: 17.5px;
}

.part4-index{
    border: 1px solid var(--main-bg-color);
    height: fit-content;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    line-height: 52px;
    text-align: center;
    margin-right: 30px;
    background-color: var(--main-bg-color);
}

